:root {
    --bordo: #460717;
    --bordo50: rgba(70, 7, 23, 0.5);
    --castanho: #2E050F;
    --castanho50: rgba(46, 5, 15, 0.5);
    --rosado: #D9CECE;
    --bege: #f6f5f5;
}

@font-face {
  font-family: 'cormorant';
  src: url('/assets/fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto';
  src: url('/assets/fonts/Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'cormorant', sans-serif;
  margin: 50px;
  color: var(--castanho);
  background-color: var(--bege);
}

nav{
    background-color: var(--rosado);
}

.big_title{
    font-family: 'noto', serif;
}

.small_title{
    font-family: 'noto', serif;
    font-size: 20px;
}

a{
  text-decoration: none;
  color: var(--castanho);
}

a:hover {
  transform: scale(1.1); 
}

.card_hover:hover{
transform: scale(1.1); 
}

hr{
    border: 1px solid var(--castanho);
    margin: 20px 0px 20px 0px;
}
/**-------------------HEADER-------------------**/


.nav-link.active{
    background-color: var(--rosado);
    color: var(--castanho);
    border-radius: 2px;
}


/**-------------------MAIN-------------------**/

#foto_perfil{
    width: 70%;    
}

#foto_perfil:hover{
    transform: scale(1.1);   
}


#change{color: var(--bordo);}



.mia_button{
    background-color: var(--bordo);
    color: var(--bege);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    

}

.mia_button:active,
.mia_button:focus,
.mia_button:active:focus {
    background-color: var(--bege) !important;
    color: var(--bordo) !important;
    border: 1px solid var(--bege) !important;
}

.mia_button:hover{transform: scale(1.1); }

.cards_column{
    justify-content: center;
}


.metricas_img{
    width: 150px;
}

.number_img{
    width: 100px;
}


.colorful_row{
    background-color: var(--bordo50);
    padding: 20px;
    
}

.up{
    position:fixed;
    right: 20px;
    bottom:20px;
}

/**-------------------FOOTER-------------------**/

footer{
    text-align: left;
    width: 100%;
    margin: 0px 10px 0px 10px;
}



/**-------------------RESPONSIVIDADE-------------------**/


/* Mobile */
@media (max-width: 576px) {
    body{
        text-align: center;
    }
 }

